@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 2021.03.15 */

@import url('reset.css');
@import url('font.css');

/* -------------------- common -------------------- */
/* scrollbar */
.scrollBox::-webkit-scrollbar {width:4px; height:4px; border-radius:0;}  /* 스크롤바의 width */
.scrollBox::-webkit-scrollbar-track {background:transparent;}  /* 스크롤바의 전체 배경색 */
.scrollBox::-webkit-scrollbar-thumb {border-radius:2px; background:#fff;}  /* 스크롤바 색 */
.scrollBox::-webkit-scrollbar-button {display:none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

textarea::-webkit-scrollbar {width:4px; height:4px; border-radius:0;}  /* 스크롤바의 width */
textarea::-webkit-scrollbar-track {background:transparent;}  /* 스크롤바의 전체 배경색 */
textarea::-webkit-scrollbar-thumb {border-radius:2px; background:#fff;}  /* 스크롤바 색 */
textarea::-webkit-scrollbar-button {display:none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

.scriptBox p::-webkit-scrollbar {width:4px; height:4px; border-radius:0;}  /* 스크롤바의 width */
.scriptBox p::-webkit-scrollbar-track {background:transparent;}  /* 스크롤바의 전체 배경색 */
.scriptBox p::-webkit-scrollbar-thumb {border-radius:2px; background:rgba(255,255,255,0.4);}  /* 스크롤바 색 */
.scriptBox p::-webkit-scrollbar-button {display:none;}  /* 위 아래 버튼 (버튼 없애기를 함) */

.faq_area::-webkit-scrollbar {width:4px; height:4px; border-radius:0;}  /* 스크롤바의 width */
.faq_area::-webkit-scrollbar-track {background:transparent;}  /* 스크롤바의 전체 배경색 */
.faq_area::-webkit-scrollbar-thumb {border-radius:2px; background:transparent;}  /* 스크롤바 색 */
.faq_area::-webkit-scrollbar-button {display:none;}  /* 위 아래 버튼 (버튼 없애기를 함) */
/* //scrollbar */

/* button */
.btn_ico_type {}
.btn_ico_type span {display:inline-block; width:64px; height:64px; border:solid 2px rgba(255, 255, 255, 0.24); border-radius:24px; box-sizing:border-box; background:linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.4)); backdrop-filter:blur(4.9px); -webkit-backdrop-filter:blur(4.9px); line-height:60px;}
.btn_ico_type span img {vertical-align:middle;}
.btn_ico_type p {margin:6px 0 0; color:#fff; font-size:12px; font-weight:700; letter-spacing:-0.54px;}
.btn_close {width:60px; height:60px; padding:12px; border-radius:20px; background:rgba(0, 0, 0, 0.08);}
/* //button */

/* -------------------- layout -------------------- */
#wrap {overflow-y:hidden; width:100%; height:100%;}
#container {position:relative; width:100%; min-width:1280px; height:100%; padding:40px; box-sizing:border-box;}

/* -------------------- component -------------------- */
/* logo */
h1.logo {position:relative; float:left; z-index:10;}
h1.logo .mb {display:none;}

/* videoBox */
.videoBox {position:absolute; top:0; left:0; width:100%; height:100%; z-index:0;}
.video{overflow:hidden; position:absolute; right:0; bottom:0; width:100%; height:100%; background-image: url('https://media.maum.ai/media/service-dev/ai-human/display/background/gradation@3x.png'); background-size:cover; background-position:center; z-index:0;}
.video_base{opacity:0; outline:none; }
/* 전신 x */
.video_vid{ display:block; position:absolute; bottom:-6%; left:50%; height:100%; color:#ddd; transform:translate(-49.5%,0); -webkit-transform:translate(-49.5%,0); -moz-transform:translate(-49.5%,0); -ms-transform:translate(-49.5%,0); -o-transform:translate(-49.5%,0); z-index:0; }
/* 전신 o */
.videoWholeBody .video_vid{ display:block; position:absolute; bottom:0; left:50%; height:100%; color:#ddd; transform:translate(-52%,30%); -webkit-transform:translate(-52%,30%); -moz-transform:translate(-52%,30%); -ms-transform:translate(-52%,30%); -o-transform:translate(-52%,30%); z-index:0; }

/* btnBox */
.btnBox.top {position:relative; float:right;}
.btnBox.top button + button {margin:0 0 0 32px;}
.btnBox.bottom {position:absolute; bottom:40px; left:50%; transform:translate(-50%, 0);}
.btnBox.bottom button {margin:0 16px;}
.btnBox.bottom button span {width:84px; height:84px; border-radius:32px; line-height:80px;}

/* scriptBox */
.scriptBox {position:absolute; top:85px; left:50%; max-width:280px;     margin-top:65px; padding:16px 14px; border-radius:20px; box-shadow:0 1px 16px 0 rgba(255, 255, 255, 0.2); box-sizing:border-box; background:linear-gradient(110deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.4)); backdrop-filter: blur(4.9px); -webkit-backdrop-filter: blur(4.9px); transform:translate(-50%, 0); text-align:center;} 
.scriptBox p {display:inline-block; overflow:auto; max-height:100px; color:#353b67; font-size:16px; letter-spacing:-0.72px; line-height:25px; word-break:keep-all; vertical-align:bottom; scrollbar-width:thin; scrollbar-color:rgba(255,255,255,0.4) transparent;}
.scriptBox .btnBox {display:flex; justify-content:center; align-items:center;  position:absolute; top:-65px; left:50%; transform:translate(-50%, 0); -webkit-transform:translate(-50%, 0); -moz-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); -o-transform:translate(-50%, 0); }
.scriptBox .btnBox button {display:inline-block; width:48px; height:48px; margin:0 8px; border-radius:50%; background:rgba(0, 0, 0, 0.12);}
/* .scriptBox .btnBox button.active {display:inline-block;} */

/* stt_info_txt */
.stt_info_txt {position:absolute; top:164px; left:50%; width:100%; transform:translate(-50%, 0); text-align:center;} 
.stt_info_txt p {display:inline-block; padding:0 12px; border-radius:20px; background:rgba(0, 0, 0, 0.08); color:#fff; font-size:16px; line-height:36px;}

/* script_txt */
.script_txt {display:inline-block; margin:16px 0 0; padding:16px; border-radius:20px; box-sizing:border-box; background:rgba(0, 0, 0, 0.16); color:#fff; font-size:16px; font-weight:700; line-height:1.5; word-break:keep-all;}

/* conversationRecogBox */
.conversationRecogBox {position:absolute; bottom:40px; left:50%; text-align:center; transform: translate(-50%, 0);}
.conversationRecogBox .script_txt {max-width:240px; margin:0 0 24px; color:#fff;}
.conversationRecogBox .cvst_ipt {width:240px; padding:24px 0 26px; border-radius:20px; box-sizing:border-box; background:rgba(0, 0, 0, 0.08); text-align:center;}
.conversationRecogBox .cvst_ipt .btn_close {margin:26px 0 0; width:36px; height:36px; padding:0; border-radius:50%; vertical-align:top;}

.conversationRecogBox.voice button.btn_voice_cvst {width:92px; height:92px; padding:6px; border-radius:50%; box-sizing:border-box; background:rgba(255, 255, 255, 0.05); backdrop-filter:blur(5px); -webkit-backdrop-filter:blur(5px);}
.conversationRecogBox.voice button.btn_voice_cvst span {display:inline-block; width:80px; height:80px; padding:16px; border:1px solid rgba(255, 255, 255, 0.24); border-radius:50%; box-shadow:0 1px 16px 0 rgba(255, 255, 255, 0.2); box-sizing:border-box; background:rgba(255, 255, 255, 0.05); backdrop-filter:blur(5px); -webkit-backdrop-filter: blur(5px); line-height:48px;}
.conversationRecogBox.voice button.btn_voice_cvst span img {vertical-align:middle;}
.conversationRecogBox.voice .guide_txt {margin:6px 0 0; color:#fff; font-size:12px; letter-spacing:-0.54px; line-height:1.5;}

.conversationRecogBox.text .cvst_ipt {width:320px; padding:0; background:none;}
.conversationRecogBox.text .iptBox {width:100%; padding:8px; border-radius:20px; box-sizing:border-box; background:rgba(0, 0, 0, 0.08); text-align:left;}
.conversationRecogBox.text .iptBox input.ipt_txt {width:252px; height:44px; padding:6px 12px 0; border-radius:14px; box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.1); box-sizing:border-box; color:#414853; font-size:14px; font-weight:700; letter-spacing:-0.63px; line-height:38px;}
.conversationRecogBox.text .iptBox input.ipt_txt::placeholder {color:#c9d0d8; font-size:14px; font-weight:400; letter-spacing:-0.63px; line-height:44px;}
.conversationRecogBox.text .iptBox button.btn_text_submit {float:right; width:44px; height:44px; border-radius:14px; box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.1); background:#fd4383;}

.exportBox {position:absolute; top:50%; left:50%; width:320px; padding:24px; border:1px solid rgba(255, 255, 255, 0.24); border-radius:36px; box-shadow:0 1px 16px 0 rgba(255, 255, 255, 0.2); box-sizing:border-box; background:linear-gradient(130deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.4)); backdrop-filter: blur(4.9px); -webkit-backdrop-filter: blur(4.9px); text-align:center; transform:translate(-50%, -50%);}
.exportBox .tit {color:#022b49; font-size:16px; font-weight:700; letter-spacing:-0.72px; line-height:1.5; text-align:center;}
.exportBox .textarea {width:100%; height:92px; margin:24px 0; padding:16px 6px 16px 16px; border-radius:20px; box-sizing:border-box; background:rgba(0, 0, 0, 0.16);}
.exportBox .textarea textarea {width:100%; height:100%; padding:0 6px 0 0; box-sizing:border-box; background:transparent; color:#fff; font-size:14px; line-height:1.43;}
.exportBox .btn_clipboard {padding:8px; border-radius:20px; background:rgba(0, 0, 0, 0.08);}
.exportBox .btn_clipboard span {display:inline-block; height:44px; padding:0 40px; border-radius:14px; box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.1); box-sizing:border-box; background:#b86ccd; color:#fff; font-size:16px; font-weight:700; line-height:46px;}
.exportBox .btn_clipboard span img {display:inline-block; width:20px; margin:-2px 7px 0 0; vertical-align:middle;}
.exportBox .btn_close {display:inline-block; position:absolute; bottom:-66px; left:50%; margin:26px 0 0; width:40px; height:40px; padding:0; border-radius:50%; transform:translate(-50%, 0); vertical-align:top;}

/* detailViewBox */
.detailViewBox {position:absolute; top:40px; right:40px; width:460px; height:calc(100% - 80px); padding:24px; border:solid 2px rgba(255, 255, 255, 0.24); border-radius:36px; box-shadow:0 1px 16px 0 rgba(255, 255, 255, 0.2); box-sizing:border-box; background:linear-gradient(155deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.4) 100%); backdrop-filter:blur(4.9px); -webkit-backdrop-filter:blur(4.9px); transform:scale(0); transform-origin:450px 10px; transition:transform 0.3s ease-out;}
.detailViewBox.open {transform:scale(1);}
.detailViewBox .btnBox {overflow:hidden;}
.detailViewBox .btnBox .swichGroup {float:left; width:320px; height:60px; padding:8px; border-radius:20px; box-sizing:border-box; background:rgba(0, 0, 0, 0.08);}
.detailViewBox .btnBox .swichGroup button {width:148px; height:100%; border-radius:14px; color:#fff; font-size:16px; font-weight:700; letter-spacing: -0.72px; vertical-align:top;}
.detailViewBox .btnBox .swichGroup button.btn_cvst_hsty {float:left;}
.detailViewBox .btnBox .swichGroup button.btn_cvst_hsty.active {box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.1); background:#feb951;}
.detailViewBox .btnBox .swichGroup button.btn_debug {float:right;}
.detailViewBox .btnBox .swichGroup button.btn_debug.active {box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.1); background:#0d72e3;}
.detailViewBox .btnBox .btn_close {float:right;}

.detailViewBox .detailCont {clear:both; width:100%; height:calc(100% - 84px); margin:24px 0 0; padding:24px 10px 24px 24px; border-radius:20px; box-shadow:0 1px 16px 0 rgba(255, 255, 255, 0.2); box-sizing:border-box; background:linear-gradient(155deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.4)); backdrop-filter:blur(4.9px); -webkit-backdrop-filter:blur(4.9px);}
.detailViewBox .detailCont .scrollBox {display:none; overflow-y:auto; width:100%; height:100%; padding:0 12px 0 0; box-sizing:border-box; background:transparent; scrollbar-width:thin; scrollbar-color:rgba(255,255,255,0.4) transparent;}
.detailViewBox .detailCont .scrollBox.active {display:block;}
.detailViewBox .detailCont .date {color:#022b49; font-size:12px; line-height:1.67; text-align:center;}

.detailViewBox .detailCont .conversationView ul {width:100%; height:100%;}
.detailViewBox .detailCont .conversationView li {clear:both; position:relative; margin:0 0 40px;}
.detailViewBox .detailCont .conversationView li:first-child {margin:0 0 24px;}
.detailViewBox .detailCont .conversationView li p {max-width:243px; padding:16px; box-sizing:border-box; font-size:14px; letter-spacing:-0.63px; line-height:1.43; word-break:keep-all; vertical-align:middle;}
.detailViewBox .detailCont .conversationView li span {display:inline-block; position:absolute; bottom:0; color:#616c78; font-size:10px; line-height:1.4;}
.detailViewBox .detailCont .conversationView li.sora {float:left; padding:0 0 0 68px;}
.detailViewBox .detailCont .conversationView li.sora p {border-radius:20px 20px 20px 0; background:rgb(255, 255, 255, 0.5); color:#022b49;}
.detailViewBox .detailCont .conversationView li.sora:before {content:''; display:inline-block; position:absolute; top:50%; left:0; width:52px; height:52px; border:1px solid #eaecee; border-radius:50%; box-sizing:border-box; background:url('../images/img_sora.png') 50% 50% no-repeat; background-size:contain; transform:translate(0, -50%);}
.detailViewBox .detailCont .conversationView li.sora span {right:-46px;}
.detailViewBox .detailCont .conversationView li.sora.loading p {padding:0; border-radius:0; background:none; color:#f4f6f8; font-size:10px; line-height:1.4;}
.detailViewBox .detailCont .conversationView li.user {float:right;}
.detailViewBox .detailCont .conversationView li.user p {border-radius:20px 20px 0 20px; background:rgb(65, 72, 83, 0.5); color:#fff;}
.detailViewBox .detailCont .conversationView li.user span {left:-46px;}

.detailViewBox .detailCont .debugView ul > li {clear:both; position:relative;}
.detailViewBox .detailCont .debugView ul > li + li {margin:40px 0 0;}
.detailViewBox .detailCont .debugView ul > li dl {padding:0 0 0 22px;}
.detailViewBox .detailCont .debugView ul > li dt {margin:0 0 10px; color:#353b67; font-size:16px; font-weight:700; line-height:1.31;}
.detailViewBox .detailCont .debugView ul > li dd li {margin:0; color:#022b49; font-size:13px; font-weight:300; line-height:1.54; word-break:keep-all;} 
.detailViewBox .detailCont .debugView ul > li dd li:after {content:none;}
.detailViewBox .detailCont .debugView ul > li span {display:inline-block; position:absolute; right:0; bottom:-20px; color:#616c78; font-size:10px; line-height:1.4;}
.detailViewBox .detailCont .debugView ul > li:before {content:''; display:inline-block; position:absolute; top:4px; left:0; width:11px; height:11px; border-radius:50%; box-sizing:border-box; z-index:10;}
.detailViewBox .detailCont .debugView ul > li.stt:before {border:2px solid #7e70d1;}
.detailViewBox .detailCont .debugView ul > li.sds:before {border:2px solid #2bade5;}
.detailViewBox .detailCont .debugView ul > li.lyncAvatar:before {border:2px solid #f77a8c;}
.detailViewBox .detailCont .debugView ul > li.error:before{background:url("../images/ico_close.svg"); background-size:300%; background-position:center; filter:invert(50%) sepia(74%) saturate(2639%) hue-rotate(315deg) brightness(100%) contrast(99%); -webkit-filter:invert(50%) sepia(74%) saturate(2639%) hue-rotate(315deg) brightness(100%) contrast(99%);}
.detailViewBox .detailCont .debugView ul > li:after {content:''; display:inline-block; position:absolute; top:14px; left:5px; height:calc(100% + 30px); border-left:1px solid rgba(255, 255, 255, 0.25);}
.detailViewBox .detailCont .debugView ul > li:last-child:after {content:none;}

/* faq_area */
.faq_area {position:absolute; top:50%; left:40px; width:456px; padding:24px; box-sizing:border-box; transform:translate(0, -50%);}
.faq_area .avatar_msg span {display:inline-block; width:52px; height:52px; margin:0 12px 0 0; border:1px solid #eaecee; border-radius:50%; box-sizing:border-box; vertical-align:middle;}
.faq_area .avatar_msg span img {width:100%; height:100%; object-fit:contain;}
.faq_area .avatar_msg p {display:none; padding:16px; border-radius:20px 20px 20px 0; background:rgba(65, 72, 83, 0.5); color:#fff; font-size:14px; font-weight:500; letter-spacing:-0.63px; vertical-align:middle;}
.faq_area .avatar_msg p.on {display:inline-block;}
.faq_area .avatar_msg_m {display:none;}
.faq_area .faq_lst {padding:24px 0;}
.faq_area .faq_lst li {display:inline-block; margin:0 12px 16px 0;}
.faq_area .faq_lst li button {display:inline-block; width:100%; height:100%; padding:10px 12px 10px 32px; border:1px solid rgba(255, 255, 255, 0.24); border-radius:32px; box-sizing:border-box; background:linear-gradient(99deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.4) 100%); backdrop-filter: blur(4.9px); -webkit-backdrop-filter: blur(4.9px); font-family:'Noto Sans KR', sans-serif; color:#353b67; text-align:left; font-size:14px; font-weight:500; letter-spacing:-0.63px; line-height:20px; transition:border 0.3s ease-out, text-shadow 0.3s ease-out; cursor:pointer;}
.faq_area .faq_lst li:hover button {border:1px solid #fff; text-shadow:0 0 0 #353b67;}
.faq_area .faq_lst li.hashtag button {background:url('../images/ico_hashtag.svg') 12px 13px no-repeat; background-size:auto 14px;}
.faq_area .faq_lst li.question button {background:url('../images/ico_question.svg') 12px 13px no-repeat; background-size:auto 14px;}
.faq_area .btnBox {text-align:center;}
.faq_area .btnBox button {display:none; height:40px; margin:0 16px; padding:0 12px; border-radius:22px; background:rgba(65, 72, 83, 0.25); color:#fff; font-size:14px; font-weight:500; letter-spacing:-0.63px; transition:all 0.3s ease-out;}
.faq_area .btnBox button:hover {background:rgba(65, 72, 83, 0.45); font-weight:700;}
.faq_area .btnBox button.on {display:inline-block;}

/* low-power popup */
.lowPowerBox{display:none; position:absolute; top:0; left:0; width:100vw; height:100vh; box-sizing:border-box; z-index:100;}
@supports ((-webkit-backdrop-filter: blur(4.9px)) or (backdrop-filter: blur(4.9px))) {
    .lowPowerBox{backdrop-filter:blur(4.9px); -webkit-backdrop-filter:blur(4.9px);}
}
@supports not ((-webkit-backdrop-filter: blur(4.9px)) or (backdrop-filter: blur(4.9px))) {
    .lowPowerBox{background-color:rgba(255,255,255,0.45);}
}
.lowPowerBox .lp_div{display:block; position:absolute; top:50%; left:50%; width:320px; padding:24px; border:1px solid rgba(255, 255, 255, 0.24); border-radius:36px; box-shadow:0 1px 16px 0 rgba(255, 255, 255, 0.2); box-sizing:border-box; background:rgba(255, 255, 255, 0.5); text-align:center; transform:translate(-50%, -50%); z-index:2; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); z-index:50;} 
.lowPowerBox .tit {color:#022b49; font-size:20px; font-weight:700; letter-spacing:-0.72px; line-height:1.31; text-align:center;}
.lowPowerBox .desc{width:100%; height:auto; margin:0 0 10px 0; padding:16px 0; border-radius:20px; box-sizing:border-box;}
.lowPowerBox .desc p{width:100%; height:100%; box-sizing:border-box; background:transparent; color:#022b49; font-family:'Noto Sans KR', sans-serif; font-size:16px; line-height:1.43; font-weight:400;}
.lowPowerBox .desc p em{font-family:'Noto Sans KR', sans-serif; font-weight:500;}
.lowPowerBox .btn_check { height:44px; padding:0 40px; border-radius:14px; -webkit-border-radius:14px; -moz-border-radius:14px; -ms-border-radius:14px; -o-border-radius:14px; background:#fea26a; color:#fff; font-family:'Noto Sans KR', sans-serif;  font-size:16px; font-weight:700;  -webkit-appearance:none;}

/* -------------------- media query -------------------- */
@media screen and (max-width:768px) {
    h1.logo .pc {display:none;}
    h1.logo .mb {display:block;}

    #container {min-width:320px; padding:20px;}

    .btn_ico_type span {width:40px; height:40px; border-radius:16px; line-height:36px;}
    .btn_ico_type span img {width:20px;}
    .btn_ico_type p {margin:4px 0 0; font-size:10px; font-weight:400;}

    .btnBox.top button + button {margin:0 8px;}
    .btnBox.bottom {bottom:20px;}
    .btnBox.bottom button {margin:0 6px;}
    .btnBox.bottom button span {width:48px; height:48px; border-radius:20px; line-height:44px;}
    .btnBox.bottom button span img {width:24px;}

    .scriptBox {position:relative; top:0; left:0; margin:65px auto 0; transform:none;}
    .scriptBox p {max-width:100%; max-height:50px; font-size:12px; line-height:18px;}
    .scriptBox .btnBox {top:auto; right:auto; bottom:-46px; left:50%; transform:translate(-50%, 0);}
    .scriptBox .btnBox button {width:36px; height:36px;}
    .scriptBox .btnBox button img {width:20px;}

    .script_txt {margin:14px 0 0; padding:12px; font-size:12px;}

    .stt_info_txt p {font-size:14px;}

    .conversationRecogBox .script_txt {margin:0 0 12px;}
    .conversationRecogBox .cvst_ipt {width:200px; margin:0 auto; padding:24px 0;}
    .conversationRecogBox .cvst_ipt .btn_close {margin:16px 0 0;}
    .conversationRecogBox .cvst_ipt .btn_close img {width:24px;}

    .conversationRecogBox.voice {bottom:20px;}
    .conversationRecogBox.voice button.btn_voice_cvst {width:48px; height:48px; padding:4px;}
    .conversationRecogBox.voice button.btn_voice_cvst span {width:40px; height:40px; padding:0; line-height:40px;}
    .conversationRecogBox.voice button.btn_voice_cvst span img {width:24px;}
    .conversationRecogBox.voice .guide_txt {margin:16px 0 0;}

    .conversationRecogBox.text {bottom:20px;}
    .conversationRecogBox.text .cvst_ipt {width:280px;}
    .conversationRecogBox.text .iptBox input.ipt_txt {width:calc(100% - 48px); height:42px;}
    .conversationRecogBox.text .iptBox input.ipt_txt::placeholder {font-size:12px;}
    .conversationRecogBox.text .iptBox button.btn_text_submit {width:42px; height:42px;}
    .conversationRecogBox.text .iptBox button.btn_text_submit img {width:24px;}
    .conversationRecogBox.text .cvst_ipt .btn_close {margin:12px 0 0;}

    .exportBox {width:280px; padding:24px 12px;}
    .exportBox .tit {font-size:14px;}
    .exportBox .textarea {height:84px; margin:16px 0; padding:12px 6px 12px 12px;}
    .exportBox .btn_clipboard span {height:42px; font-size:14px; line-height:44px;}
    .exportBox .btn_clipboard span img {width:14px;}
    .exportBox .btn_close {bottom:-48px; width:36px; height:36px;}
    .exportBox .btn_close img {width:24px;}

    .detailViewBox {top:20px; left:20px; width:calc(100% - 40px); height:calc(100% - 40px); padding:20px; border-radius:20px; transform-origin:100% 0; z-index:20;}
    .detailViewBox .btnBox .swichGroup {width:196px; height:40px; padding:6px 8px;}
    .detailViewBox .btnBox .swichGroup button {width:88px; font-size:12px;}
    .detailViewBox .detailCont {height:calc(100% - 52px); margin:12px 0 0; padding:16px 8px 16px 12px;}
    .detailViewBox .btnBox .btn_close {width:40px; height:40px; padding:0;}

    .detailViewBox .detailCont .conversationView li {margin:0 0 31px;}
    .detailViewBox .detailCont .conversationView li:first-child {margin:0 0 12px;}
    .detailViewBox .detailCont .conversationView li p {max-width:100%; padding:12px; font-size:12px;}
    .detailViewBox .detailCont .conversationView li.sora {padding:0 0 0 32px;}
    .detailViewBox .detailCont .conversationView li.sora:before {width:28px; height:28px;}
    .detailViewBox .detailCont .conversationView li.sora span {right:0; bottom:-18px;}
    .detailViewBox .detailCont .conversationView li.user span {left:0; bottom:-18px;}

    .detailViewBox .detailCont .debugView ul > li:after {height:calc(100% + 21px);}
    .detailViewBox .detailCont .debugView ul > li + li {margin:31px 0 0;}
    .detailViewBox .detailCont .debugView ul > li dt {margin:0 0 4px; font-size:14px;}
    .detailViewBox .detailCont .debugView ul > li dd li {font-size:12px;}

    .faq_area {overflow:auto; top:auto; bottom:110px; left:50%; width:100%; height:110px; padding:0 20px; text-align:center; transform:translate(-50%, 0);}
    .faq_area .avatar_msg {display:none;}
    .faq_area .avatar_msg_m {display:block; margin:0 0 12px; color:#fff; font-size:10px; font-weight:500; letter-spacing:-0.45px; line-height:1.6;}
    .faq_area .faq_lst {padding:0;}
    .faq_area .faq_lst li{margin:0 6px 0;}
    .faq_area .faq_lst li button{margin:0 6px 12px; padding:10px 12px 10px 28px; color:#fff; font-size:10px; line-height:13px; text-align:left;}
    .faq_area .faq_lst li.hashtag button, .faq_area .faq_lst li.question button{background-size:auto 10px;}
    .faq_area .faq_lst li:before {width:10px; height:10px;}
    .faq_area .btnBox button {height:35px; font-size:10px;}
}

@media screen and (max-width:320px) {
    .detailViewBox {width:calc(100% - 32px); height:calc(100% - 32px); padding:16px;}
    .lowPowerBox .lp_div{width:300px;}
}
